<footer class="text-gray-400 app-footer">
    <div class="inner">
      <ul>
        <li>
          Horário de atendimento: 08h - 20h (Segunda a Domingo)
        </li>
      </ul>
      <ul class="socials">
        <li>Acesse nossas redes:</li>
        <li>
          <button mat-icon-button>
            <a href="https://web.whatsapp.com/">
                <img src="/icones/whatsapp.png" alt="Ícone do whatsapp">
            </a>
          </button>
          <button mat-icon-button>
            <a href="https://www.instagram.com/">
                <img src="/icones/instagram.png" alt="Ícone do instagram">
            </a>
        </button>
      </ul>
    </div>
</footer>