<div class="flex flex-col h-full py-6">
  
  <nav class="flex-1 px-4 space-y-2">
    
    <a mat-button class="w-full !flex !justify-start !px-4 !py-6 !rounded-xl transition-all group" 
       routerLink="/" routerLinkActive="bg-blue-600/10 text-blue-500" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon class="mr-3 group-hover:scale-110 transition">home</mat-icon>
      <span class="font-medium text-lg">Início</span>
    </a>

    <a mat-button class="w-full !flex !justify-start !px-4 !py-6 !rounded-xl transition-all group text-zinc-400" 
       routerLink="/instrumentos" routerLinkActive="bg-blue-600/10 text-blue-500">
      <mat-icon class="mr-3 group-hover:scale-110 transition">piano</mat-icon>
      <span class="font-medium text-lg">Instrumentos</span>
    </a>

    <a mat-button class="w-full !flex !justify-start !px-4 !py-6 !rounded-xl transition-all group text-zinc-400" 
       routerLink="/salas" routerLinkActive="bg-blue-600/10 text-blue-500">
      <mat-icon class="mr-3 group-hover:scale-110 transition">meeting_room</mat-icon>
      <span class="font-medium text-lg">Salas</span>
    </a>

    <a mat-button class="w-full !flex !justify-start !px-4 !py-6 !rounded-xl transition-all group text-zinc-400" 
       routerLink="/membros" routerLinkActive="bg-blue-600/10 text-blue-500">
      <mat-icon class="mr-3 group-hover:scale-110 transition">group</mat-icon>
      <span class="font-medium text-lg">Membros</span>
    </a>

    <a mat-button class="w-full !flex !justify-start !px-4 !py-6 !rounded-xl transition-all group text-zinc-400" 
       routerLink="/reservas" routerLinkActive="bg-blue-600/10 text-blue-500">
      <mat-icon class="mr-3 group-hover:scale-110 transition">event_available</mat-icon>
      <span class="font-medium text-lg">Reservas</span>
    </a>

  </nav>

  <div class="px-4 mt-auto">
    <button mat-button class="w-full !flex !justify-start !text-zinc-500">
      <mat-icon class="mr-3">settings</mat-icon>
      Configurações
    </button>
  </div>

</div>