<div class="bg-white p-6 rounded-2xl border flex gap-4 flex-wrap">

  <input type="date"
    (change)="atualizarFiltro('dataInicio',$any($event.target).value)" />

  <input type="date"
    (change)="atualizarFiltro('dataFinal',$any($event.target).value)" />

  <select (change)="atualizarFiltro('funcionario',[$any($event.target).value])">
    <option value="">Funcionário</option>
    <option *ngFor="let f of funcionarios()" [value]="f.id">
      {{f.nome}}
    </option>
  </select>

  <select (change)="atualizarFiltro('maquina',[$any($event.target).value])">
    <option value="">Máquina</option>
    <option *ngFor="let m of maquinas()" [value]="m.id">
      {{m.nome}}
    </option>
  </select>

  <button (click)="gerarRelatorio()"
    class="bg-sky-600 text-white px-6 py-2 rounded-xl font-bold">
    Gerar
  </button>

</div>